*
{
    padding:0;
    border:0;
    margin:0;
    box-sizing:border-box;
/* set all CSS box properties to 0 and use border-box for box sizing so that
the width and height properties (and min/max properties) includes content, padding and border.*/
}  

main
{
    display: grid;
    background-color: orange;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

#h2forum
{
    grid-column: 4/ 5;
}

#ULForum
{
    grid-column: 4/ 5;
    grid-row: 2/3;
}

#listItem
{
display: inline-block;
}

.trilogylistItem
{
    display: inline-block;

}

#trilogy1
{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}


#trilogy2
{
    grid-row: 4/5;
}


#trilogy3
{
    grid-row: 5/6;
}

#userintroductions
{
    grid-row: 6 / 7;
}

#offtopic
{
grid-row: 7 /8;
}